<div class="btn-group" role="group" style="margin: 0 auto; display: table;">
	<a class="btn btn-primary" 	href="play">Play</a>
	<a class="btn btn-info" 		href="stop">Stop</a>
	<a class="btn btn-danger" 	href="stopnow">Stop now</a>
</div>