<h5 class="text-center mt-4">Play command</h5>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<button class="btn btn-primary" onclick="httpGet('play')">Play</button>
	<button class="btn btn-info" 		onclick="httpGet('stop')">Stop</button>
	<button class="btn btn-danger" 	onclick="httpGet('stopnow')">Stop now</button>
</div>

<h5 class="text-center mt-4">Change mode</h5>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<div class="btn btn-primary" onclick="httpGet('performmode')">Perform mode</div>
	<div class="btn btn-info" onclick="httpGet('exhibitionmode')">Exhibition mode</div>
</div>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<div class="btn btn-danger" onclick="httpGet('resetcount')">Reset people count</div>
</div>

<h5 class="text-center mt-4">Audio command(Just for testing)</h5>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<div class="btn btn-primary" onclick="httpGet('changeaudio')">Change audio</div>
	<div class="btn btn-info" onclick="httpGet('defaultaudio')">Default audio</div>
</div>

<div class="text-center">
	<p>Device1: <span id="sound1"></span></p>
	<p>Device2: <span id="sound2"></span></p>
	<p>Device3: <span id="sound3"></span></p>
	<p>Device4: <span id="sound4"></span></p>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
function httpGet(request)
{
		var currentURL 	= window.location.href;
		var getURL 			= currentURL + request;

		console.log(getURL)

    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", getURL, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

var socket = io();
socket.on('connect', function(){ 
	socket.emit('joinadmin');
});

socket.on('userjoin', function(data) {
	var sid = data.sid;

	document.getElementById(sid).innerHTML = 'connected';
});

socket.on('userexit', function(data) {
	var sid = data.sid;

	document.getElementById(sid).innerHTML = 'disconnected';
});

</script>