<h5 class="text-center mt-4">Play command</h5>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<button class="btn btn-primary" onclick="httpGet('play')">Play</button>
	<button class="btn btn-info" 		onclick="httpGet('stop')">Stop</button>
	<button class="btn btn-danger" 	onclick="httpGet('stopnow')">Stop now</button>
</div>

<h5 class="text-center mt-4">Audio command</h5>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<div class="btn btn-primary" onclick="httpGet('changeaudio')">Change audio</div>
	<div class="btn btn-info" onclick="httpGet('defaultaudio')">Default audio</div>
</div>

<h5 class="text-center mt-4">Change mode</h5>

<div class="btn-group my-2" role="group" style="margin: 0 auto; display: table;">
	<div class="btn btn-primary" onclick="httpGet('performmode')">Perform mode</div>
	<div class="btn btn-info" onclick="httpGet('exhibitionmode')">Exhibition mode</div>
</div>

<script>
function httpGet(request)
{
		var currentURL 	= window.location.href;
		var getURL 			= currentURL + request;

		console.log(getURL)

    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", getURL, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>