<script src="/socket.io/socket.io.js"></script>

<div style="margin: 0 auto; display: table;">
	<audio controls loop preload>
	  <source src="<%= audioPath %>">
	Your browser does not support the audio element.
	</audio>
</div>

<script>
	var audio = document.querySelector('audio');
	var source = document.querySelector('source');

  var socket = io();
  socket.on('connect', function(){ 
  	var data = {'sid': 'sound<%= sid %>'};

  	socket.emit('joinexhibit', data);
  });

	socket.on('play', function(data) {
		console.log('play');
		now  = Date.now()
		timeout = data.timestamp - now;
		console.log(timeout)
		console.log(data.timestamp)

		audio.loop = true;
		setTimeout(function(){ audio.play(); }, timeout);
	});

	socket.on('stop', function(data) {
		console.log('stop')
		now  = Date.now()
		timeout = data.timestamp - now;

		setTimeout(function(){ audio.loop = false; }, timeout);
	});

	socket.on('stopnow', function(data) {
		console.log('stopnow')
		now  = Date.now()
		timeout = data.timestamp - now;

		audio.currentTime = 0;
		audio.loop = false;
		setTimeout(function(){ audio.pause(); }, timeout);
	});

	socket.on('changeaudio', function(data) {
		source.src = data.url;
		audio.load();
	});

	socket.on('defaultaudio', function(data) {
		source.src = '<%= audioPath %>';
		audio.load();
	});

	socket.on('performmode', function(data) {
		source.src = data.url;
		audio.load();
	});

	socket.on('exhibitionmode', function(data) {
		source.src = '<%= audioPath %>';
		audio.load();
	});

</script>