<script src="/socket.io/socket.io.js"></script>

<div style="margin: 0 auto; display: table;">
	<audio controls loop preload>
	  <source src="<%= audioPath %>">
	Your browser does not support the audio element.
	</audio>
</div>

<script>
	var audio = document.querySelector('audio');
	var source = document.querySelector('source');

  var socket = io();
  socket.on('connect', function(){ 
  	var data = {'sid': 'sound<%= sid %>'};

  	socket.emit('joinexhibit', data);

  });

	socket.on('play', function(msg) {
		console.log('play')
		audio.loop = true;
		audio.play();
	});

	socket.on('stop', function(msg) {
		console.log('stop')
		audio.loop = false;
	});

	socket.on('stopnow', function(msg) {
		console.log('stopnow')
		audio.pause();
		audio.currentTime = 0;
		audio.loop = false;
	});

	socket.on('changeaudio', function(data) {
		source.src = data.url;
		audio.load();
	});

	socket.on('defaultaudio', function(data) {
		source.src = '<%= audioPath %>';
		audio.load();
	})


</script>